img {width:300px;height:387px}
img.tumbnail {width:200px;height:258px}
img.sqr {width:300px;height:300px}
img.personal {width:400px;height:400px;}
body {background-color: #D7D7D7; font-family: arial, verdana, sans-serif;}
h1 {font-family: arial, verdana, sans-serif; text-align:center;}
h1.personal {font-family: arial, verdana, sans-serif; text-align:left;}
h2 {font-family: arial, verdana, sans-serif;}
p {background-color: #D7D7D7;}
div {color:black;}
table {table-layout:auto;width:100%;text-align:left}
thead {border: 1px solid black;background: #ccc; text-align:center}
th {border: 1px solid black;background: #ccc; text-align:center}
tbody {border: 1px solid black;}
td {border: 1px solid black;padding: 5px;}
caption {caption-side: top;text-align: center}

