<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contacts</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" >
  </head>
  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html" >Main</a></li>
        <li><a href="contact.html">Contacts</a></li>
        <li><a href="students.html">Students</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
    <h1 align="center"> Наши вдохновители</h1>
    <div class="col-md-4">
    <p><img class="tumbnail" src="../static/images/Abaddon_Despoiler_updated.jpg" align="center"> </p>
    <h2>Founder</h2>
    <p><b>Name:</b> Абаддон Разоритель</p>
    <p><b>Phone:</b> +57448856658</p>
    <p><b>Skype:</b> d@rk_crus@der</p>
    <p><b>Email:</b> chaos.undivided@warp.com</p>
  </div>
  <div class="col-md-4">
    <p><img class="tumbnail" src="../static/images/7e772202a4fe33f4aa20aac59519fab0.jpg" align="center"> </p>
    <h2>Manager</h2>
    <p><b>Name:</b> Ариман Изгнанник</p>
    <p><b>Phone:</b> +21554888544</p>
    <p><b>Skype:</b> ariman7876</p>
    <p><b>Email:</b> sexydude@warp.com</p>
  </div>
  <div class="col-md-4">
    <p><img class="tumbnail" src="../static/images/Kharn_victory.jpg" align="center"> </p>
    <h2>Director</h2>
    <p><b>Name:</b> Кхарн Предатель</p>
    <p><b>Phone:</b> +215548854886</p>
    <p><b>Skype:</b> blood-to-the-blood-god</p>
    <p><b>Email:</b> kharne.the.betrayer@warp.com</p>
  </div>
  </div>
<footer class="footer">
      <div class="container">
        <p class="text-muted">All Rights Reserved M3.016</p>
      </div>
</footer>
  </body>
</html>

