<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Detail</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" >
  </head>
  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html" >Main</a></li>
        <li><a href="contact.html">Contacts</a></li>
        <li><a href="student_list.html">Students</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container" align="left" >
  <h1 class="personal">Uncle Mike</h1>
  <p><img class="personal" src="../static/images/Bqe0wNOrqHo.jpg">  </p>
  <p><a href="https://www.youtube.com/watch?v=jjMYho9glN0"><button type="button" class="btn btn-lg btn-default">Дядя Миша о себе</button></a></p>
  <h2>Student's card</h2>
  <div class="col-md-8">
          <table class="table table-striped">
            <thead>
                <td>1</td>
                <td>2</td>
            </thead>
            <tbody>
              <tr>
                <td>Surname</td>
                <td>Uncle</td>
              </tr>
                <tr>
                <td>Name</td>
                <td>Mike</td>
              </tr>
              <tr>
                <td>Patronymic</td>
                <td>Volkovich</td>
              </tr>
              <tr>
                <td>Rating</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Average Grade</td>
                <td>98</td>
              </tr>
              <tr>
                <td>Package</td>
                <td>Standard</td>
              </tr>
              <tr>
                <td>Birth Date</td>
                <td>258.986.M2</td>
              </tr>
              <tr>
                <td>Address</td>
                <td>Helican subsector, Tracian Primaris, Hivecity 15, level 2</td>
              </tr>
              <tr>
                <td>Post</td>
                <td>95000</td>
              </tr>
              <tr>
                <td>E-mail</td>
                <td>zaebis_tip@weed.ru</td>
              </tr>
              <tr>
                <td>Skype</td>
                <td>old_bald</td>
              </tr>
            </tbody>
          </table>
<h2>Performance</h2>
<table>
  <tr>
    <th>Course</th>
    <th>Week</th>
    <th>Control Type</th>
    <th>Grade</th>
  </tr>
  <tr>
    <td rowspan="5" align="center">SD 40k введение в Лингва Питонис</td>
    <td rowspan="3" align="center">Week 1</td>
    <td>Tests</td>
    <td>100%</td>
  </tr>
  <tr>
    <td>Problem Task #1</td>
    <td>95%</td>
  </tr>
  <tr>
    <td>Problem Task #2</td>
    <td>98%</td>
  </tr>
  <tr>
    <td rowspan="2" align="center">Week 2</td>
    <td>Tests</td>
    <td>85%</td>
  </tr>
  <tr>
    <td>Problem Task #1</td>
    <td>146%</td>
  </tr>
</table>
</div>
</body>
</html>

